<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http//www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
														http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
														http://cxf.apache.org/jaxws
														http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- CXF 的内部配置文件，cxf-extension-soap.xml 在3.x版本中不需要 -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<!-- <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" /> -->
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!-- 消息处理前后的日志类，也可以不需要配置 -->
	<bean id="inMessageInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	<bean id="outMessageInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
	<bean id="outFaultInterceptor" class="org.apache.cxf.interceptor.FaultOutInterceptor" />
	 
	<bean id="helloService" class="com.fancye.service.HelloServiceImpl" />
	
	<jaxws:server id="helloServer" serviceClass="com.fancye.service.HelloService" address="/HelloServicePort">
		<jaxws:serviceBean>
			<ref bean="helloService" />
		</jaxws:serviceBean>
		<jaxws:inInterceptors>
			<ref bean="inMessageInterceptor" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<ref bean="outMessageInterceptor" />
		</jaxws:outInterceptors>
	</jaxws:server>
	
	<!-- Double Server -->
<!-- 	<bean id="helloDoubleService" class="com.fancye.service.HelloDoubleServiceImpl" /> -->
<!-- 	<jaxws:server id="helloDoubleServer" serviceClass="com.fancye.service.HelloDoubleService" address="/HelloDoubleServicePort"> -->
<!-- 		<jaxws:serviceBean> -->
<!-- 			<ref bean="helloDoubleService" /> -->
<!-- 		</jaxws:serviceBean> -->
<!-- 	</jaxws:server> -->
	
	<bean id="soapAuth" class="com.fancye.service.interceptor.AuthorizationInterceptor" >
		<property name="token" value="Token" /><!-- 此处设置一个口令进行测试，实际环境可以使用MD5进行加密 -->
	</bean>
	
	<bean id="customOutFault" class="com.fancye.service.interceptor.CustomOutFaultInterceptor" />
	<jaxws:endpoint id="authServer" implementor="com.fancye.service.HelloDoubleServiceImpl" address="/HelloDoubleServicePort">
		<jaxws:inInterceptors>
			<ref bean="soapAuth" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<ref bean="customOutFault" />
		</jaxws:outInterceptors>
	</jaxws:endpoint>
</beans>